<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sipml 5 with sip</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/phone.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
</head>
<body>
<div id="wrapper">
    <div id="incomingCall" style="display: none">
        <div class="callInfo">
            <h3>Incoming Call</h3>
            <p id="incomingCallNumber">Unknown</p>
        </div>
        <div id="answer"><i class="fa fa-phone"></i></div>
        <div id="reject"><i class="fa fa-phone"></i></div>
    </div>
    <div id="callStatus" style="display: none">
        <div class="callInfo">
            <h3 id="callInfoText">info text goes here</h3>
            <p id="callInfoNumber">info number goes here</p>
        </div>
        <div id="hangUp"><i class="fa fa-phone"></i>
        </div>
    </div>
    <!---------TO FIELD---------------------------------------------------->
    <!---------DIALPAD---------------------------------------------------->
    <div id="inCallButtons" style="display: none">
        <div id="dialPad">

            <div class="dialpad-char" data-value="1" unselectable="on">1</div>
            <div class="dialpad-char" data-value="2" unselectable="on">2</div>
            <div class="dialpad-char" data-value="3" unselectable="on">3</div>
            <div class="dialpad-char" data-value="4" unselectable="on">4</div>
            <div class="dialpad-char" data-value="5" unselectable="on">5</div>
            <div class="dialpad-char" data-value="6" unselectable="on">6</div>
            <div class="dialpad-char" data-value="7" unselectable="on">7</div>
            <div class="dialpad-char" data-value="8" unselectable="on">8</div>
            <div class="dialpad-char" data-value="9" unselectable="on">9</div>
            <div class="dialpad-char" data-value="*" unselectable="on">*</div>
            <div class="dialpad-char" data-value="0" unselectable="on">0</div>
            <div class="dialpad-char" data-value="#" unselectable="on">#</div>
        </div>
        <div id="mute">
            <i id="muteIcon" class="fa fa-microphone"></i>
        </div>
    </div>

    <!---------DIAL CONTROLS-------------------------------------------->
    <div id="callControl">
        <div id="to">
            <input id="toField" type="text" placeholder="Enter number here"/>
        </div>
        <div id="connectCall"><i class="fa fa-phone"></i>

        </div>
    </div>
</div>


<audio id="audio-remote" autoplay/>
<audio id="audio-local"/>
<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/SIPml-api.js') }}"></script>
<script>
    var ringTone       = new window.Audio("{{ url_for('static', filename='audio/ringtone.mp3') }}");
    var dtmfTone       = new window.Audio("{{ url_for('static', filename='audio/dtmf.wav') }}");
    // Load Dynamically.
    var asteriskIp = '192.168.33.10';
    var asteriskUser = '199';
    var asteriskUserPass = '199@pass1';
    var asteriskUserName = 'VoiceInn Web';

</script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>